@{
    ViewBag.Title = "About";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div class="row-fluid">
    <div class="span12">
        <p>Aceasta este o aplicatie test Web pentru gestionarea unui magazin online de smartphone</p>
    </div>
</div>