
    @{
    ViewBag.Title = "Home Page";
    }




    <div class="col-left span-6">
        <div id="block-product_filter-15" class="block block-product_filter region-odd odd region-count-1 count-1">


            <div class="content">
                <div class="filter-group">
                    <div id="erase-filters" style="visibility: hidden;"><a href="#">Șterge toate filtrele</a></div><input type="hidden" name="gid" value="264"><input type="hidden" name="language" class="language-option" value="ro"><input type="hidden" name="baseurl" class="site-basepath" value="https://www.zap.md"><ul class="first-list">
                        <li class="product-filter-item">
                            Producător<ul class="product-filter-options">
                                <li>
                                    <span class="product-filter-container">
                                        <input type="radio" class="product-filter" name="filter[2714]" value="Acer">
                                        <a href="#" class="product-filter-option ">Acer <span class="unit"></span></a>
                                    </span>
                                </li>
                                <li>
                                    <span class="product-filter-container">
                                        <input type="radio" class="product-filter" name="filter[2714]" value="Allview">
                                        <a href="#" class="product-filter-option ">Allview <span class="unit"></span></a>
                                    </span>
                                </li>
                                <li>
                                    <span class="product-filter-container">
                                        <input type="radio" class="product-filter" name="filter[2714]" value="Apple">
                                        <a href="#" class="product-filter-option ">Apple <span class="unit"></span></a>
                                    </span>
                                </li>
                                <li>
                                    <span class="product-filter-container">
                                        <input type="radio" class="product-filter" name="filter[2714]" value="ASUS">
                                        <a href="#" class="product-filter-option ">ASUS <span class="unit"></span></a>
                                    </span>
                                </li>
                                
                                <li>
                                    <span class="product-filter-container">
                                        <input type="radio" class="product-filter" name="filter[2714]" value="HTC">
                                        <a href="#" class="product-filter-option ">HTC <span class="unit"></span></a>
                                    </span>
                                </li>
                                <li>
                                    <span class="product-filter-container">
                                        <input type="radio" class="product-filter" name="filter[2714]" value="Lenovo">
                                        <a href="#" class="product-filter-option ">Lenovo <span class="unit"></span></a>
                                    </span>
                                </li>
                                <li>
                                    <span class="product-filter-container">
                                        <input type="radio" class="product-filter" name="filter[2714]" value="LG">
                                        <a href="#" class="product-filter-option ">LG <span class="unit"></span></a>
                                    </span>
                                </li>
                                <li>
                                    <span class="product-filter-container">
                                        <input type="radio" class="product-filter" name="filter[2714]" value="Nokia">
                                        <a href="#" class="product-filter-option ">Nokia <span class="unit"></span></a>
                                    </span>
                                </li>
                               
                                <li>
                                    <span class="product-filter-container">
                                        <input type="radio" class="product-filter" name="filter[2714]" value="Prestigio">
                                        <a href="#" class="product-filter-option ">Prestigio <span class="unit"></span></a>
                                    </span>
                                </li>
                                <li>
                                    <span class="product-filter-container">
                                        <input type="radio" class="product-filter" name="filter[2714]" value="Samsung">
                                        <a href="#" class="product-filter-option ">Samsung <span class="unit"></span></a>
                                    </span>
                                </li>
                                <li>
                                    <span class="product-filter-container">
                                        <input type="radio" class="product-filter" name="filter[2714]" value="Sony">
                                        <a href="#" class="product-filter-option ">Sony <span class="unit"></span></a>
                                    </span>
                                </li>
                                <li>
                                    <span class="product-filter-container">
                                        <input type="radio" class="product-filter" name="filter[2714]" value="Xiaomi">
                                        <a href="#" class="product-filter-option ">Xiaomi <span class="unit"></span></a>
                                    </span>
                                </li>
                            </ul>
                        </li>
                    </ul><ul class="">
                        <li class="product-filter-item">
                            Preţ<ul class="product-filter-options">
                                <li>
                                    <span class="product-filter-container">
                                        <input type="radio" class="product-filter" name="filter[field_current_price]" value="sub%20999%20lei">
                                        <a href="#" class="product-filter-option ">sub 999 <span class="unit">lei</span></a>
                                    </span>
                                </li>
                                <li>
                                    <span class="product-filter-container">
                                        <input type="radio" class="product-filter" name="filter[field_current_price]" value="1000%20-%201999%20lei">
                                        <a href="#" class="product-filter-option ">1.000 -1499 <span class="unit">lei</span></a>
                                    </span>
                                </li>
                                <li>
                                    <span class="product-filter-container">
                                        <input type="radio" class="product-filter" name="filter[field_current_price]" value="2000%20-%204999%20lei">
                                        <a href="#" class="product-filter-option ">1500 - 2000 <span class="unit">lei</span></a>
                                    </span>
                                </li>
                                <li>
                                    <span class="product-filter-container">
                                        <input type="radio" class="product-filter" name="filter[field_current_price]" value="peste%205000%20lei">
                                        <a href="#" class="product-filter-option ">peste 2000 <span class="unit">lei</span></a>
                                    </span>
                                </li>
                            </ul>
                        </li>
                    </ul><ul class="">
                        <li class="product-filter-item">
                            Sistem de operare<ul class="product-filter-options">
                                <li>
                                    <span class="product-filter-container">
                                        <input type="radio" class="product-filter" name="filter[5602]" value="Android">
                                        <a href="#" class="product-filter-option ">Android <span class="unit"></span></a>
                                    </span>
                                </li>
                                <li>
                                    <span class="product-filter-container">
                                        <input type="radio" class="product-filter" name="filter[5602]" value="iOS">
                                        <a href="#" class="product-filter-option ">iOS <span class="unit"></span></a>
                                    </span>
                                </li>
                                <li>
                                    <span class="product-filter-container">
                                        <input type="radio" class="product-filter" name="filter[5602]" value="Windows%20Phone">
                                        <a href="#" class="product-filter-option ">Windows Phone <span class="unit"></span></a>
                                    </span>
                                </li>
                            </ul>
                        </li>
                    </ul><ul class="">
                        <li class="product-filter-item">
                            Ecran tactil<ul class="product-filter-options">
                                <li>
                                    <span class="product-filter-container">
                                        <input type="radio" class="product-filter" name="filter[2719]" value="Da">
                                        <a href="#" class="product-filter-option ">Da <span class="unit"></span></a>
                                    </span>
                                </li>
                                <li>
                                    <span class="product-filter-container">
                                        <input type="radio" class="product-filter" name="filter[2719]" value="Nu">
                                        <a href="#" class="product-filter-option ">Nu <span class="unit"></span></a>
                                    </span>
                                </li>
                            </ul>
                        </li>
                    </ul><ul class="">
                        <li class="product-filter-item">
                            Dimensiuni ecran<ul class="product-filter-options">
                                <li>
                                    <span class="product-filter-container">
                                        <input type="radio" class="product-filter" name="filter[2717]" value="sub%204">
                                        <a href="#" class="product-filter-option ">sub 4 <span class="unit">inch</span></a>
                                    </span>
                                </li>
                                <li>
                                    <span class="product-filter-container">
                                        <input type="radio" class="product-filter" name="filter[2717]" value="4%20-%205.5">
                                        <a href="#" class="product-filter-option ">4 - 5 <span class="unit">inch</span></a>
                                    </span>
                                </li>
                                <li>
                                    <span class="product-filter-container">
                                        <input type="radio" class="product-filter" name="filter[2717]" value="peste%205.5">
                                        <a href="#" class="product-filter-option ">peste 5 <span class="unit">inch</span></a>
                                    </span>
                                </li>
                            </ul>
                        </li>
                    </ul><ul class="">
                        <li class="product-filter-item">
                            Dual SIM<ul class="product-filter-options">
                                <li>
                                    <span class="product-filter-container">
                                        <input type="radio" class="product-filter" name="filter[3453]" value="Da">
                                        <a href="#" class="product-filter-option ">Da <span class="unit"></span></a>
                                    </span>
                                </li>
                                <li>
                                    <span class="product-filter-container">
                                        <input type="radio" class="product-filter" name="filter[3453]" value="Nu">
                                        <a href="#" class="product-filter-option ">Nu <span class="unit"></span></a>
                                    </span>
                                </li>
                            </ul>
                        </li>
                    </ul><ul class="">
                        <li class="product-filter-item">
                            Tastatură QWERTY<ul class="product-filter-options">
                                <li>
                                    <span class="product-filter-container">
                                        <input type="radio" class="product-filter" name="filter[2723]" value="Nu">
                                        <a href="#" class="product-filter-option ">Nu <span class="unit"></span></a>
                                    </span>
                                </li>
                            </ul>
                        </li>
                    </ul><ul class="">
                        <li class="product-filter-item">
                            Tip design<ul class="product-filter-options">
                                <li>
                                    <span class="product-filter-container">
                                        <input type="radio" class="product-filter" name="filter[2724]" value="Clasic">
                                        <a href="#" class="product-filter-option ">Clasic <span class="unit"></span></a>
                                    </span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div> <!-- /USE NO CLASSES?? -->

  



